@import "../../../base/colors";
@import "../../../base/variables";

.form-control:focus {
  border-color: $accent;
}

.form-control {
  border-color: $neutral-12;
  border-radius: 0.15rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown::before {
  position: absolute;
  content: "";
  top: 12px;
  right: 5px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid $neutral-60;
}
