@import "../../../base/colors";
@import "../../../base/variables";

.custom-control {
  padding-left: 2rem;
  min-height: 2em;
}

.custom-control-input {
  outline: none;
}

.custom-control-label::after,
.custom-control-label::before {
  font-size: 16px;
  top: 0.15rem;
  left: -1.75rem;
  width: 1em;
  height: 1em;
}
