@import "../../base/colors";

.compass-layout {
  width: 100%;
  height: 100%;
}

.compass-layout-drawer {
  width: 86px;
  height: 100%;
  float: left;
}

.compass-layout-with-drawer {
  width: 100%;
  height: 100%;
  padding-left: 86px;
}

.compass-layout-header {
  width: 100%;
  height: 48px;
}

.compass-layout-content {
  width: 100%;
  height: 100%;
}
