@import "../../base/colors";
@import "../../base/variables";

.combo-box__control {
  border-radius: 0.25rem !important;
  border-color: $neutral-12 !important;

  &:hover {
    border-color: $neutral-12 !important;
  }
}

.combo-box__option--is-selected {
  background-color: $accent-light-85 !important;
  color: $neutral-90 !important;
}

.combo-box__option--is-focused {
  background-color: $primary !important;
  color: $neutral-0 !important;
}

.combo-box__multi-value__label {
  font-size: $font-size-sm;
  color: $neutral-0 !important;
  background-color: $primary;
  padding: 3px 10px !important;

  &:hover {
    background-color: darken($primary, 10%);
  }
}

.combo-box__multi-value__remove {
  &:hover {
    color: $primary !important;
    background-color: $accent-light-85 !important;
  }
}
