.brandItem {
  [class*="sidenav---navitem--"] {
    background-color: #AD0F6C;
  }

  .brandLogoContainer {
  }

  .brandLogo {
    width: 38px !important;
    height: 38px !important;
  }

  .brandImage {
    height: 22px;
    margin-left: 27px;
  }
}
