.brand-item {
  [class*="sidenav---navitem--"] {
    background-color: #ad0f6c;
  }

  .brand-logo {
    width: 38px !important;
    height: 38px !important;
  }

  .brand-image {
    height: 22px;
    margin-left: 27px;
  }
}
