@import "../../base/colors";

.title-bar {
  height: 48px;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  padding-left: 86px;
  z-index: 797;
  display: flex;
  justify-content: space-between;
  background-color: $neutral-0;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
}

.title-bar-brand-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-brand {
  height: 100%;
}

.title-text {
  font-size: 17px;
  line-height: 20px;
  padding: 14px 0 14px 24px;
  color: $neutral-90;
}

.title-icon {
  padding: 6px 9px;
  font-size: 17px;
  line-height: 20px;
  color: $neutral-60;
  margin: 8px 15px;
  border-radius: 100%;
}

.title-icon:hover {
  color: $neutral-0;
  background-color: $brand-highlight;
}
