.custom-filter {
  display: inline;
  height: 15px;
  width: 15px;
  border: none;
  color: transparent;
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZwogIHdpZHRoPSIxNSIKICBoZWlnaHQ9IjE1IgogIHZpZXdCb3g9IjAgMCAxNzkyIDE3OTIiCiAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIgo+CiAgPHBhdGgKICAgIHN0eWxlPSJmaWxsOiAjYThhY2JiIgogICAgZD0iTTE1OTUgMjk1cTE3IDQxLTE0IDcwbC00OTMgNDkzdjc0MnEwIDQyLTM5IDU5LTEzIDUtMjUgNS0yNyAwLTQ1LTE5bC0yNTYtMjU2cS0xOS0xOS0xOS00NXYtNDg2bC00OTMtNDkzcS0zMS0yOS0xNC03MCAxNy0zOSA1OS0zOWgxMjgwcTQyIDAgNTkgMzl6IgogIC8+Cjwvc3ZnPgo=");
  background-position: right center;
  background-repeat: no-repeat;
  margin-left: 3px;
  cursor: pointer;
}

.custom-filter:hover {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZwogIHdpZHRoPSIxNSIKICBoZWlnaHQ9IjE1IgogIHZpZXdCb3g9IjAgMCAxNzkyIDE3OTIiCiAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIgo+CiAgPHBhdGgKICAgIHN0eWxlPSJmaWxsOiAjYzhkNmViIgogICAgZD0iTTE1OTUgMjk1cTE3IDQxLTE0IDcwbC00OTMgNDkzdjc0MnEwIDQyLTM5IDU5LTEzIDUtMjUgNS0yNyAwLTQ1LTE5bC0yNTYtMjU2cS0xOS0xOS0xOS00NXYtNDg2bC00OTMtNDkzcS0zMS0yOS0xNC03MCAxNy0zOSA1OS0zOWgxMjgwcTQyIDAgNTkgMzl6IgogIC8+Cjwvc3ZnPgo=");
}

.custom-filter:focus {
  border: none;
  color: transparent;
  box-shadow: none;
}
