@import "../../base/colors";
@import "../../base/variables";

.toast:not(:last-child) {
  margin-bottom: 0.75rem;
}

.toast-success {
  border: 1px solid $semantic-confirm-light-60;
  background-color: $semantic-confirm-light-85;
  color: $neutral-90;

  & .toast-header {
    color: $semantic-confirm-dark-30;
  }
}

.toast-warning {
  border: 1px solid $semantic-warn-light-60;
  background-color: $semantic-warn-light-85;
  color: $semantic-warn-dark-30;

  & .toast-header {
    color: $semantic-warn-dark-30;
  }
}

.toast-info {
  border: 1px solid $semantic-info-light-60;
  background-color: $semantic-info-light-85;
  color: $neutral-90;

  & .toast-header {
    color: $semantic-info-dark-30;
  }
}

.toast-danger {
  border: 1px solid $semantic-danger-light-60;
  background-color: $semantic-danger-light-85;
  color: $semantic-danger-dark-30;

  & .toast-header {
    color: $semantic-danger-dark-30;
  }
}
