.modal-header,
.modal-footer {
  border: 0;
  padding: 1.5rem;
}

.modal-body {
  padding: 0;
}

.modal-body-inner {
  padding: 20px 1.5rem;
  position: relative;

  &::after,
  &::before {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    content: "";
    display: block;
    height: 20px;
  }

  &::before {
    top: 0;
    background: linear-gradient(#ffffff 50%, rgba(255, 255, 255, 0) 100%);
  }
  &::after {
    bottom: 0;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 50%);
  }
}

.modal-footer_tertiary {
  display: flex;
  flex: 1;
}

.modal-shadow-bottom,
.modal-shadow-top {
  min-height: 10px;
  background: black;
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.modal-shadow-top {
  margin-bottom: -10px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.1) 0%,
    rgba(255, 255, 255, 0) 50%
  );
}
.modal-shadow-bottom {
  margin-top: -10px;
  background: linear-gradient(
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
}
