.modal-header,
.modal-footer {
  border: 0;
  padding: 1.5rem;
}

.right.modal .modal-dialog {
  position: fixed;
  margin: auto;
  width: 500px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.right.modal .modal-content {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.fade.right.modal .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
  -o-transition: opacity 0.3s linear, right 0.3s ease-out;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

.fade.right.modal.show .modal-dialog {
  right: 0;
}

.modal-body {
  padding: 0;
}

.modal-body-inner {
  padding: 20px 1.5rem;
  position: relative;

  &::after,
  &::before {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    content: "";
    display: block;
    height: 20px;
  }

  &::before {
    top: 0;
    background: linear-gradient(#ffffff 50%, rgba(255, 255, 255, 0) 100%);
  }
  &::after {
    bottom: 0;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, #ffffff 50%);
  }
}

.modal-footer_tertiary {
  display: flex;
  flex: 1;
}

.modal-shadow-bottom,
.modal-shadow-top {
  min-height: 10px;
  background: black;
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.modal-shadow-top {
  margin-bottom: -10px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.1) 0%,
    rgba(255, 255, 255, 0) 50%
  );
}
.modal-shadow-bottom {
  margin-top: -10px;
  background: linear-gradient(
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
}
