.modal-header,
.modal-footer {
  border: 0;
  padding: 1.5rem;
}

.modal-body {
  padding: 20px 1.5rem;
}

.modal-body {
  background: /* Shadow covers */ linear-gradient(
      #ffffff 30%,
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(rgba(255, 255, 255, 0), #ffffff 70%) 0 100%,
    /* Shadows */
      radial-gradient(
        farthest-side at 50% 0,
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0)
      )
      0% 1%,
    radial-gradient(
        farthest-side at 50% 100%,
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0)
      )
      0 99%;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: 100% 40px, 100% 40px, 100% 12px, 100% 12px;
  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
}

.modal-footer_tertiary {
  display: flex;
  flex: 1;
}
