@import "../../base/colors";

.navbar.syneto {
  height: 48px;
  box-shadow: 0 8px 6px -6px rgb(0 0 0 / 40%);

  .navbar-brand {
    font-size: 17px;
  }

  .syneto {
    .nav-link.syneto-icon-link {
      padding-right: 10px;
      padding-left: 10px;
      border-radius: 50%;
    }

    .nav-link.active {
      color: white !important;
      background-color: $brand-highlight;
    }

    a {
      color: $neutral-60;
    }

    a:hover {
      color: white !important;
      background-color: $brand-highlight;
    }
  }
}
