@import "../../base/colors";
@import "../../base/variables";

.popover-datepicker {
  max-width: none !important;
  background-color: transparent;
  border: none;

  .popover-body {
    padding: 0;
  }

  .arrow {
    display: none;
  }
}

.react-datepicker__input-container,
.react-datepicker-wrapper {
  display: block;
}

.react-datepicker-popper[data-placement^="bottom"] {
  margin-top: 0;
}

.react-datepicker-popper[data-placement^="top"] {
  top: 4px !important;
  margin-bottom: 0;
}

.react-datepicker {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: $font-size-base;
  border-radius: 2px;
  border: 1px solid $neutral-12;
  box-shadow: 0 2px 10px 2px $neutral-12;

  // display: inline-flex;
}

.react-datepicker__month-container {
  padding: 0 8px 8px;

  // float: none;
}

.react-datepicker__time-container {
  // float: none;
  width: auto;

  // padding: 0px 8px 8px;

  .react-datepicker__time .react-datepicker__time-box {
    width: auto;

    // padding-top: 8px;
  }

  .react-datepicker__time-list-item:hover:not(.react-datepicker__time-list-item--selected) {
    background-color: $accent-light-85 !important;
  }

  .react-datepicker__time-list-item--selected {
    background-color: $primary !important;
  }

  .react-datepicker-time__header {
    padding: 0.5rem 0;
  }
}

.react-datepicker__header {
  background: $neutral-0;
  border-bottom: 1px solid $neutral-12;
  padding: 0;

  .react-datepicker__current-month {
    color: $neutral-90;
    margin-bottom: 11px;
  }
}

.react-datepicker__month {
  margin-top: 8px;
  color: $neutral-90;
}

.react-datepicker__day--outside-month {
  visibility: hidden;
}

.react-datepicker__day {
  padding: 3px;
  margin: 1px;
  width: 36px;
  line-height: 30px;
  position: relative;
  color: $neutral-90;

  &:hover {
    border-radius: 1px;
    background-color: $accent-light-85;
    color: $neutral-90;
  }

  &.react-datepicker__day--disabled {
    opacity: 0.5;

    &:hover {
      background-color: $neutral-0;
    }
  }
}

.react-datepicker__day-names {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

.react-datepicker__day--today {
  background-color: $neutral-0;
  border-radius: 1px;
  color: $neutral-90;
  position: relative;

  &.react-datepicker__day--selected::after {
    position: absolute;
    content: "";
    border: 2px solid $neutral-0;
    border-radius: 2px;
    bottom: 6px;
    right: 45%;
  }
}

.react-datepicker__day--today::after {
  position: absolute;
  content: "";
  border: 2px solid $primary;
  border-radius: 2px;
  bottom: 6px;
  right: 45%;
}

.react-datepicker__day--highlighted {
  background: none;
}

.react-datepicker__day--highlighted::after {
  position: absolute;
  content: "";
  border: 1px solid $neutral-90;
  border-radius: 1px;
  bottom: 8px;
  right: 45%;
}

.react-datepicker__day--selected {
  background-color: $primary;
  border-radius: 1px;
  color: $neutral-0;

  &:hover {
    background-color: $primary;
    border-radius: 1px;
    color: $neutral-0;
  }

  &.react-datepicker__day--disabled {
    opacity: 0.5;
    background-color: $neutral-0;
    color: #2e324b;
    font-weight: normal;

    &:hover {
      background-color: $neutral-0;
    }
  }
}

.react-datepicker__navigation {
  outline: none;
  top: 0;
}

.react-datepicker__navigation--next {
  border-left-color: $neutral-60;
}

.react-datepicker__navigation--previous {
  border-right-color: $neutral-60;
}

.react-datepicker__triangle {
  display: none;
}

.datepicker-dropdown {
  background: none;
  outline: none;
  border: none;

  &.datepicker-year-dropdown {
    margin-right: 10px;
  }
}
