@import "../../base/colors";
@import "../../base/variables";

.selected {
  background-color: $accent-light-85 !important;
}

.table-pagination_total {
  color: $neutral-40;
  padding-left: 1em;
}

.table-filters-wrapper {
  display: flex;
  justify-content: space-between;
}

.table-search {
  position: relative;

  & input {
    // make space for clear button
    padding-right: 30px;
  }

  & ::placeholder {
    font-style: italic;
    color: $neutral-40;
  }
}

.table-search__clear {
  position: absolute;
  right: 1px;
  top: 1px;
  bottom: 1px;
  padding: 0 0.5em;
  background: none;
  border: 0;
  font-size: 1.4em;
  line-height: 1;
  color: $neutral-60;

  &:hover {
    color: $accent;
    background: $accent-light-85;
  }
}

.table-scrollable {
  display: flex;
  flex-direction: column;

  & thead {
    display: block;

    & tr {
      display: flex;
    }
    & th {
      flex: 1;
    }
  }

  & tbody {
    display: block;
    max-height: 200px;
    overflow-y: scroll;

    & tr {
      display: flex;
    }
    & td {
      flex: 1;
    }
  }
}

// overrides
.react-bootstrap-table-pagination {
  justify-content: space-between;
}

.react-bootstrap-table-pagination-list {
  flex: 0;
}

.table-hover tbody tr:hover {
  background-color: $neutral-3;
}

.table {
  color: inherit;
}
.table thead th {
  border-width: 1px;
  border-color: $neutral-24;
  text-align: left;
}
.table th,
.table td {
  border-color: $neutral-6;
  vertical-align: inherit;
  word-break: break-all;
}
.table tbody tr:last-child td {
  border-bottom: 1px $neutral-6 solid;
}

.react-bootstrap-table th.sortable {
  &:hover {
    color: $accent;
  }

  & .caret-4-desc {
    color: $accent;
    &:before {
      display: none;
    }
    &:after {
      margin-left: 3.5px;
    }
  }
  & .caret-4-asc {
    color: $accent;
    &:before {
      margin-left: 3.5px;
    }
    &:after {
      display: none;
    }
  }
  & .order-4:before {
    letter-spacing: -2px;
  }
}

.table .custom-control {
  min-height: auto;
}
