@import "../../base/colors";
@import "../../base/variables";

.selected {
  background-color: $primary-light-85 !important;
}

.table-pagination_total {
  color: $neutral-40;
  padding-left: 1em;
}

.table-filters-wrapper {
  display: flex;
  justify-content: space-between;
}

.table-search {
  position: relative;

  & input {
    // make space for clear button
    padding-right: 30px;
    width: 288px !important;
  }

  & ::placeholder {
    font-style: italic;
    color: $neutral-40;
  }
}

.table-search__clear {
  position: absolute;
  right: 1px;
  top: 1px;
  bottom: 1px;
  padding: 0 0.5em;
  background: none;
  border: 0;
  font-size: 1.4em;
  line-height: 1;
  color: $neutral-60;

  &:hover {
    color: $primary;
    background: $primary-light-85;
  }
}

.react-bootstrap-table--scrollable {
  position: relative;
  max-height: 250px;
  overflow: auto;

  thead th {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

// overrides
.react-bootstrap-table-pagination {
  justify-content: space-between;
  margin-top: 1em;
}

.react-bootstrap-table-pagination-list {
  flex: 0;
}

.table-hover tbody tr:hover {
  background-color: $neutral-3;
}

.table {
  color: inherit;
  margin: 0;
}
.table thead th {
  border: 0;
  text-align: left;
  background: linear-gradient(
    to bottom,
    $neutral-24 0 1px,
    white 1px calc(100% - 1px),
    $neutral-24 calc(100% - 1px) 100%
  );
}
.table th,
.table td {
  border: 0;
  vertical-align: inherit;
  word-break: break-all;
}
.table tr:not(:last-child) td {
  border-bottom: 1px $neutral-6 solid;
}

.react-bootstrap-table {
  border-bottom: 1px $neutral-24 solid;
}

.react-bootstrap-table th.sortable {
  &:hover {
    color: $primary;
  }

  & .caret-4-desc {
    color: $primary;
    &:before {
      display: none;
    }
    &:after {
      margin-left: 3.5px;
    }
  }
  & .caret-4-asc {
    color: $primary;
    &:before {
      margin-left: 3.5px;
    }
    &:after {
      display: none;
    }
  }
  & .order-4:before {
    letter-spacing: -2px;
  }
}

.table .custom-control {
  min-height: auto;
}

.table-container {
  background-color: $neutral-0;
}
