// BRAND
$brand: #d21d86;

// ACCENT COLORS
$accent: #5b69e1;
$accent-light-85: #ebf2ff;

// NEUTRAL COLORS
$neutral-100: #181c37;
$neutral-90: #343855;
$neutral-60: #7a8095;
$neutral-40: #a8acbb;
$neutral-24: #c8d6eb;
$neutral-12: #e1e8f1;
$neutral-6: #eff2f9;
$neutral-3: #f6fafb;
$neutral-0: #ffffff;
// $neutral-90-vivid: #2c3a67;

// SEMANTIC COLORS
// info
$semantic-info: #22a0e9;
$semantic-info-dark-20: #2b93cf;
$semantic-info-dark-30: #1674ab;
$semantic-info-light-60: #aedaf6;
$semantic-info-light-85: #e1f1fc;

// confirm
$semantic-confirm: #00b170;
$semantic-confirm-dark-20: #009a61;
$semantic-confirm-dark-30: #008051;
$semantic-confirm-light-60: #a3e0c8;
$semantic-confirm-light-85: #def4eb;

// warn
$semantic-warn: #f4be00;
$semantic-warn-dark-20: #c09500;
$semantic-warn-dark-30: #8b6b00;
$semantic-warn-light-60: #e6d6a3;
$semantic-warn-light-85: #f5f0de;

// danger
$semantic-danger: #e45664;
$semantic-danger-dark-20: #cb3f4d;
$semantic-danger-dark-30: #a63d47;
$semantic-danger-light-60: #f5bfc5;
$semantic-danger-light-85: #fbe8e9;

// danger
$semantic-accent-contrast: #4f5ed7;
$semantic-accent-dark-20: #4552c0;
$semantic-accent-dark-30: #3646c4;
$semantic-accent-light-60: #b1b9ff;
$semantic-accent-light-85: #dadefd;

// override Bootstrap semantic color variables
$primary: $accent;
$secondary: $neutral-40;
$success: $semantic-confirm;
$info: $semantic-info;
$warning: $semantic-warn;
$danger: $semantic-danger;
// $light:         $gray-100;
// $dark:          $gray-800;
