// BRAND
$brand-dark-80: #570936;
$brand-dark-40: #ad0f6c;
$brand-highlight: #d21d86;
$brand-light-40: #cf6ea7;
$brand-light-80: #efcfe2;

// ACCENT
$accent: #5b69e1;
$accent-light-85: #ebf2ff;

// NEUTRAL
$neutral-100: #181c37;
$neutral-90: #343855;
$neutral-60: #7a8095;
$neutral-40: #a8acbb;
$neutral-24: #c8d6eb;
$neutral-12: #e1e8f1;
$neutral-6: #eff2f9;
$neutral-3: #f6fafb;
$neutral-0: #fff;

// ADJUSTED NEUTRALS
$neutral-90-vivid: #2c3a67;

// SEMANTIC
// info
$semantic-info: #22a0e9;
$semantic-info-dark-20: #2b93cf;
$semantic-info-dark-30: #1674ab;
$semantic-info-light-60: #aedaf6;
$semantic-info-light-85: #e1f1fc;

// confirm
$semantic-confirm: #00b170;
$semantic-confirm-dark-20: #009a61;
$semantic-confirm-dark-30: #008051;
$semantic-confirm-light-60: #a3e0c8;
$semantic-confirm-light-85: #def4eb;

// warn
$semantic-warn: #f4be00;
$semantic-warn-dark-20: #c09500;
$semantic-warn-dark-30: #8b6b00;
$semantic-warn-light-60: #e6d6a3;
$semantic-warn-light-85: #f5f0de;

// danger
$semantic-danger: #e45664;
$semantic-danger-dark-20: #cb3f4d;
$semantic-danger-dark-30: #a63d47;
$semantic-danger-light-60: #f5bfc5;
$semantic-danger-light-85: #fbe8e9;

// accent
$semantic-accent-contrast: #4f5ed7;
$semantic-accent-dark-20: #4552c0;
$semantic-accent-dark-30: #2e3aa2;
$semantic-accent-light-60: #b1b9ff;
$semantic-accent-light-85: #dadefd;

// CHARTING
$chart-red: #e76974;
$chart-red-light-85: #fceaec;
$chart-orange: #f4a83b;
$chart-orange-light-85: #fdf2e4;
$chart-yellow: #fad250;
$chart-yellow-light-85: #fdf8e8;
$chart-lime: #aabf1c;
$chart-lime-light-85: #f3f6e3;
$chart-green: #1bba80;
$chart-green-light-85: #e1f5ec;
$chart-blue: #3daced;
$chart-blue-light-85: #e5f3fc;
$chart-indigo: #7884e7;
$chart-indigo-light-85: #eceefb;
$chart-purple: #a85ce4;
$chart-purple-light-85: #f4e8fa;
$chart-magenta: #d54bc6;
$chart-magenta-light-85: #f9e7f6;

// override Bootstrap semantic color variables
$primary: $accent;
$secondary: $neutral-40;
$success: $semantic-confirm;
$info: $semantic-info;
$warning: $semantic-warn;
$danger: $semantic-danger;
// $light:         $gray-100;
// $dark:          $gray-800;
