// override Bootstrap variables
// Bootstrap and its default variables
@import "colors";
@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";

html {
  // make base font 13px, as defined in Compass
  // everything else is relative to this value
  font-size: 13px;
}

body,
button,
input,
select,
textarea {
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Italic.ttf") format("ttf");
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-BoldItalic.ttf") format("ttf");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
